/* .frameChild {
  position: absolute;
  top: 73px;
  left: 0;
  background-color: #d0f2f6;
  width: 1392px;
  height: 924px;
}

.encouragebot,
.encouragebot1 {
  position: absolute;
}

.encouragebot {
  font-size: var(--font-size-77xl);
  font-weight: 800;
  font-family: var(--font-mukta);
  top: 73px;
  left: 73px;
  color: var(--color-mediumblue-100);
}

.encouragebot1 {
  font-size: var(--font-size-77xl);
  -webkit-text-stroke: 1px #2638f5;
  top: 67px;
  left: 78px;
}

.getSomeFriendly {
  position: absolute;
  font-size: var(--font-size-5xl);
  text-align: center;
  top: 224px;
  left: 78px;
  color: var(--color-mediumblue-100);
}

.frameItem {
  position: absolute;
  top: 295px;
  left: 56px;
  border-radius: 400px;
  background-color: var(--color-white);
  width: 1103px;
  height: 77px;
}

.whatWouldYou {
  position: absolute;
  top: 314px;
  left: 95px;
  font-family: var(--font-libre-franklin);
  color: var(--color-darkslategray);
  display: inline-block;
  width: 90%; /* Adjusted width to make the form field smaller */
  height: 60px; /* Adjusted height to match the smaller form field */
  margin-top: 10px; /* Adjusted margin to make the form field align with the top */
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 40px;
  background-color: var(--color-white);
  border: 1px solid var(--color-mediumblue-100);
  padding: 0 1.5rem;
  font-size: 18px;
}

.frameInner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #ff5989;
  position: absolute;
  top: 417px;
  left: 73px;
  width: 192px;
  height: 72px;
}

.submit {
  position: absolute;
  top: 436px;
  left: 110px;
  font-weight: 600;
  font-family: var(--font-libre-franklin);
  display: inline-block;
  width: 70%; /* Adjusted width to make the submit button smaller */
  height: 50px; /* Adjusted height to match the smaller form field */
  line-height: 50px; /* Adjusted line-height to center the text vertically */
  color: var(--color-white);
  background-color: var(--color-mediumblue-100);
  border: none;
  border-radius: 40px;
  font-size: 24px;
  text-align: center;
}

.yourEncouragement {
  position: absolute;
  top: 576px;
  left: 450px;
  font-size: var(--font-size-5xl);
  margin-bottom: 1rem;
  text-align: center;
}

.image7Icon {
  position: absolute;
  top: 33rem;
  left: 25%;
  width: 50%;
}


.rectangleDiv {
width: 90%;
top: 47rem;
left: 5%;
height: 25rem;
}

.youCanDo {
font-size: var(--font-size-13xl);
width: 70%;
top: 52rem;
left: 15%;
text-align: center;
}

.image10Icon {
width: 40%;
top: 63rem;
left: 5%;
}

.yourEncouragement {
font-size: var(--font-size-5xl);
top: 70rem;
left: 0;
}

.encouragebotAllRightsContainer {
font-size: var(--font-size-5xl);
width: 100%;
top: 83rem;
left: 0;
text-align: center;
height: auto;
margin-top: 3rem;
}
 */
