@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  width: 150px; /* You can adjust this value to your desired size */
  height: auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-rows: auto 1fr auto;
    gap: 0.5rem;
    padding: 0.5rem;
    height: auto;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-istok-web: "Istok Web";
  --font-libre-franklin: "Libre Franklin";
  --font-mukta: Mukta;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-77xl: 96px;

  /* Colors */
  --color-darkslategray: #454545;
  --color-white: #fff;
  --color-mediumblue-100: #2638f5;
}

/* Styles for the updated code */
.getSomeFriendly {
  font-size: 24px;
  text-align: center;
  margin-bottom: 1.5rem;
}

.whatWouldYou {
  font-size: 18px;
  margin-bottom: 1rem;
  text-align: center;
}

input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
/* 
input[type="submit"] {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-mediumblue-100);
  color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
  border: none;
  text-align: center;
  transition: background-color 0.3s ease;
} */

/* input[type="submit"]:hover {
  background-color: #1a2ae3;
} */

.yourEncouragement {
  font-size: 24px;
  margin-bottom: 1rem;
  text-align: center;
}
